.header {
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    z-index: 1100;
    right: 0;
    left:  calc(0px);
    box-shadow: none;
    overflow: hidden;
    background-color: #fff;
    backdrop-filter: none;
    top: 0.75rem;
    min-height: 4.6875rem;
    display: grid;
    align-items: center;
    padding: 20px;
    top: 0;
    height: 50px;
}

.header_title {
    font-weight: 600;
    font-size: 28px;
    margin-left: 2%;
}